<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25776003293-lg2kabk4s09f4dkn29e4v5decdnm6q5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25776003293-lg2kabk4s09f4dkn29e4v5decdnm6q5l</string>
	<key>API_KEY</key>
	<string>AIzaSyCKlaOy6MA_a46TZs98qglo27eGyrJHleY</string>
	<key>GCM_SENDER_ID</key>
	<string>25776003293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whats-app-370d7</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-app-370d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25776003293:ios:c7c7c7ff0a27eb3ac1a334</string>
</dict>
</plist>